{
    "checkInterval": 60,
    "notifyServices":[
        {
            "image": "nextcloud:fpm",
            "actions": [
                {
                    "type": "mailHook",
                    "instance": "generalMail",
                    "recipient": "info@example.org"
                }
            ]
        },
        {
            "image": "gitlab/gitlab-ce:latest",
            "actions": [
                {
                    "type": "webHook",
                    "instance": "gitlabHook"
                }
            ]
        }
    ],
    "smtpServer": {
        "generalMail": {
            "host": "mail.example.org",
            "port": 25,
            "username": "docker-notify@example.org",
            "password": "PASSWORD",
            "sendername": "Docker-Notify",
            "senderadress": "docker-notify@example.org"
        }
    },
    "webHooks":{
        "gitlabHook": {
            "reqUrl": "https://ci.example.org",
            "httpMethod": "POST"
        }
    }
}