repositories=mvertes/alpine-mongo,teamspeak,gitlab/gitlab-ce:latest

checkInterval=60

smtpHost=smtp.myHost.com
smtpPort=465
smtpSecure=true
smtpSenderName=Docker-Notify
smtpSenderAddress=senderAddress@myHost.com
smtpUsername=senderUserName
smtpPassword=superSecretPassword

mailReceiver=myMail@mydomain.com